{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
<h3>Reset Password</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <p class="mt-4">To reset your password we will need to email a password reset link to you.  Please enter a convenient email address for us to contact you.</p>
        <label for="id_email">Email address:</label>
        <input type="text" name="email" class="form-control col-7"><br/>
        <button class="btn btn-custom mb-4">Reset Password</button>
    </form>
</div>
{% endblock %}