{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h1>Change password</h1>
  <p class="mt-4">To change your password, simply enter your old password in the form below, together with your new password.  Please remember when choosing a new password not to make it to easy guess, your security is important to us.</p>
  <form method="POST" class="form-signin mt-4">
    {% csrf_token %}
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    <button class="btn btn-custom btn-block mb-4" type="submit">Update</button>  
  </form>
</div>
{% endblock %}
