{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-4">
  {% if validlink %}
    <h3 class="text-center mb-4">Change password</h3>
    <div class="container change-password">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-custom m-auto" type="submit">Change password</button>
    </form>
  </div>
  {% else %}
    <h3 class="text-center">
      The password reset link was invalid, possibly because it has already been used.<br/>
      Please request a new password reset.
    </h3>
  {% endif %}
</div>
{% endblock %}