{% load static %}
<!-- Footer -->
<footer id="main-footer" class="py-4 text-white text-center">

  <img class="footer-img" src="{% static 'img/logo.png' %}" alt="bookit logo"><br/>
  <p>copyright &copy; 2019 Jacqueline Walsh - CI Project</p> 
  <div class="social">
    <a href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-pinterest"></i>
    </a>
  </div>


</footer>