<div>
  <div class="text-center">
    <br>
    <h1 class="text-center">Order History</h1>
    <br>
    {% if order_details %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Order Date</th>
          <th>Total Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_details %}
        <tr>
          <td>{{ order.id }}</td>  
          <td>{{ order.created | date:"d M Y" }}</td>
          <td>€{{ order.total }}</td>
          <td><a href="{% url 'order:order_details' order.id %}">View order</a></td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="mb-4">You have not placed any orders yet.</p>
      <p><a href="{% url 'books' %}" class="btn btn-custom">Continue Shopping</a></p>
    {% endif %}
  </div>
</div>
<br>
<br>
