{% extends 'base.html' %} 
 
{% block content %}
  <div class="container mt-4">
    <div class="row mt-4">
      <div class="col-md-8">
        <h3>Who we are</h3>
        <img class="mb-4 mt-4" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-shelf.jpg" alt="">
        <br/>
        <p class="mt-4">
          BookIt! is a site dedicated to book lovers around the world.  Books can transport you from one journey to the next in a flick of a page and here at BookIt there is always another adventure that awaits.  
        </p>
        <p>
          Register with us and you can buy, sell and review all your favoutites with a community just like you.  
        </p>
        <p>
          It's so easy, just add a book to sell, we take a 5% admin charge for each book sold, which helps us to keep the book community thieving.  You can also bid for that book you have always been meaning to read, or if you can't wait purchase the book immediately and it will be shipped directly to your door.
        </p>
        <p>
          So what are you waiting for?  <a href="#" >sign up</a> today and start to enjoy what thousands of other readers are already receiving. 
        </p>
        <p>
          Please note that admin reserve the right to unpublish any book that it is felt disrupts the spirit of the book community.  
        </p>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <h4 class="text-center mb-4">Author of the Month</h4>
          {% if is_author_of_month %}
            {% for author_of_month in is_author_of_month %}
              <h6 class="author-title text-center">{{ author_of_month.name }}</h6>
              <img class="author-image" src=" {{ author_of_month.photo.url }}" alt="JK Rowling">
              <br/>
              <div class="author-description">
                <p>{{ author_of_month.description }}</p>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}