{% extends 'base.html' %} 
 
{% block content %}
  <div class="container mt-4">
    <div class="row mt-4">
      <div class="col-md-8">
        <h3>Who we are</h3>
        <img class="mb-4 mt-4" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-shelf.jpg" alt="">
        <br/>
        <p class="mt-4">
          BookIt! is a site dedicated to book lovers around the world.  Books can transport you from one journey to the next in a flick of a page and here at BookIt there is always another adventure that awaits.  
        </p>
        <p>
          Register with us and you can buy, sell and review all your favoutites with a community just like you.  
        </p>
        <p>
          It's so easy, just add a book to sell, we take a 5% admin charge for each book sold, which helps us to keep the book community thieving.  You can also bid for that book you have always been meaning to read, or if you can't wait purchase the book immediately and it will be shipped directly to your door.
        </p>
        <p>
          So what are you waiting for?  <a href="#" >sign up</a> today and start to enjoy what thousands of other readers are already receiving. 
        </p>
        <p>
          Please note that admin reserve the right to unpublish any book that it is felt disrupts the spirit of the book community.  
        </p>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <h4 class="text-center">Author of the Month</h4>
          <h6 class="author-title text-center">JK Rowlings</h6>
          <img class="author-image" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/authors/jkrowling.jpg" alt="JK Rowling">
          <br/>
          <div class="author-description">
            <p>
              Joanne Rowling was born on 31st July 1965 at Yate General Hospital near Bristol, and grew up in Gloucestershire in England and in Chepstow, Gwent, in south-east Wales.
            </p>
            <p>
              Her father, Peter, was an aircraft engineer at the Rolls Royce factory in Bristol and her mother, Anne, was a science technician in the Chemistry department at Wyedean Comprehensive, where Jo herself went to school. Anne was diagnosed with multiple sclerosis when Jo was a teenager and died in 1990, before the Harry Potter books were published.  Jo also has a younger sister, Di.
            </p>
            <p>
              The young Jo grew up surrounded by books. “I lived for books,’’ she has said. “I was your basic common-or-garden bookworm, complete with freckles and National Health spectacles.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}