{% extends 'base.html' %} 
{% block title %} | About us {% endblock %}
{% block content %}
  <div class="container mt-4">
    <div class="row mt-4">
      <div class="col-md-8">
        <h3>Who we are</h3>
        <img class="mb-4 mt-4 shelf-image" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-shelf.jpg" alt="">
        <br/>
        <p class="mt-4">
          BookIt! is a site dedicated to book lovers around the world.  Books can transport you from one journey to the next in a flick of a page and here at BookIt there is always another adventure that awaits.  
        </p>
        <p>
          We are currently updating our books so that you never miss out on the latest gripping novel that you just can't put down.  
        </p>
        <p>
          Register with us and you can buy and review all your favoutites with a community just like you.    
        </p>
        <p>
          It's so easy, just browse our selection of books, search for a particular book by author or title.  Purchase the book and it will be shipped directly to your door within 3 to 5 working days (depending on your postal service).
        </p>
        <p>
          So what are you waiting for?  <a href="{% url 'register' %}" >sign up</a> today and start to enjoy what thousands of other readers are already receiving. 
        </p>
        <hr/>
        <img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/relax-and-read.jpg" class="about-page-image" alt="relaxing on sofa reading a book">
      </div>
      <!-- Seller of the month section -->
      <div class="col-md-4">
        <div class="card mb-4">
          <h4 class="text-center card-header mb-4">Author of the Month</h4>
          {% if is_author_of_month %}
            {% for author_of_month in is_author_of_month %}
              <h6 class="author-title text-center">{{ author_of_month.name }}</h6>
              <img class="author-image" src=" {{ author_of_month.photo.url }}" alt="JK Rowling">
              <br/>
              <div class="author-description">
                <p>{{ author_of_month.description }}</p>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}