{% extends 'base.html' %} 
{% block content %}
<!-- header image -->
<div class="header-image text-center">Online Book Store!</div>
<!-- 3D Slideshow Section --> 
<section id="slideshow">
  <div class="entire-content">
    <div class="content-carrousel">
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/billy-connelly.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/cilkas-journey.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/date-night.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/death-in-a-deck-chair.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/elon-john.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/pinch-of-nom.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/steve-jobs-autobiography.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/tattooist-of-auschwitz.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/the-butterfly-room.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/the-shape-of-water.jpg"/></figure>
    </div>
  </div>
</section>
<section class="section-2">
  <div class="container">
    <div class="row">
      <!-- quote 1 -->
      <div class="col-md-4 text-center background-quote">
        <blockquote>
            &ldquo; A reader lives a thousand lives<br/>
          before he dies. The man who<br/>
          never reads lives only one! &rdquo;
        </blockquote>
        <footer class="author-signature">
            -George RR Martin
        </footer>  
      </div>
      <!-- quote 2 -->
      <div class="col-md-4 text-center background-quote">
        <blockquote>
            &ldquo; I do belive something<br/>
            very magical can happen<br/>
            when you read a book! &rdquo;
        </blockquote>
        <footer class="author-signature">
            -JK Rowling
        </footer>  
      </div>
      <!-- quote 3 -->
      <div class="col-md-4 text-center background-quote">
        <blockquote>
            &ldquo; Reading gives us someplace<br/>
            to go when we have to stay<br/>
            where we are! &rdquo;
        </blockquote>
        <footer class="author-signature">
          -Mason Cooley</i>
        </footer>  
      </div>
    </div>   
  </div>
</section>
<section class="section-3">
  <div class="container mt-4">
  <h2 class="text-center mt-4 mb-4">Featured Books</h2>
  <div class="row mt-4 mb-4">
    {% if books %}
      {% for book in books %}
        <div class="col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="{{ book.photo_main.url }}" alt="">
            <h5>{{ book.title }}</h3>
              <p>{{ book.author }}</p>
              <a href="#" class="btn btn-custom btn-sm mb-4">More Info</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no books available!</p>
    {% endif %}
  </div>
</div>
</section>
{% endblock %}