{% extends 'base.html' %} 
{% load humanize %} 
{% block content %}
<!-- header image -->
<div class="header-image text-center">Online Book Store!</div>
<!-- 3D Slideshow Section --> 
<section id="slideshow">
  <div class="entire-content">
    <div class="content-carrousel">
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/billy-connelly.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/cilkas-journey.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/date-night.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/death-in-a-deck-chair.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/elon-john.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/pinch-of-nom.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/steve-jobs-autobiography.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/tattooist-of-auschwitz.jpg"/></figure>      
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/the-butterfly-room.jpg"/></figure>
      <figure class="shadow"><img src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/slider-carousel/the-shape-of-water.jpg"/></figure>
    </div>
  </div>
</section>
<hr/>
{% endblock %}