{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>All Books</h1>
  <div class="row mt-4 mb-4">
    <!-- Book 1 -->
    <div class="col-md-4">
      <div class="card text-center">
        <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg"
          alt="">
        <h5>Pillars of the Earth</h3>
          <p>Ken Follet</p>
          <button class="btn btn-custom btn-sm mb-4">More Info</button>
      </div>
    </div>
    <!-- Book 2 -->
    <div class="col-md-4">
      <div class="card text-center">
        <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg"
          alt="">
        <h5>Pillars of the Earth</h3>
          <p>Ken Follet</p>
          <button class="btn btn-custom btn-sm mb-4">More Info</button>
      </div>
    </div>
    <!-- Book 3 -->
    <div class="col-md-4">
        <div class="card text-center">
          <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg" alt="">
          <h5>Pillars of the Earth</h3>
            <p>Ken Follet</p>
            <button class="btn btn-custom btn-sm mb-4">More Info</button>
        </div>
      </div>    
  </div>
  <!-- Book 4 -->
  <div class="row mt-2 mb-4">
      <div class="col-md-4">
        <div class="card text-center">
          <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg"
            alt="">
          <h5>Pillars of the Earth</h3>
            <p>Ken Follet</p>
            <button class="btn btn-custom btn-sm mb-4">More Info</button>
        </div>
      </div>
      <!-- Book 5 -->
      <div class="col-md-4">
        <div class="card text-center">
          <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg"
            alt="">
          <h5>Pillars of the Earth</h3>
            <p>Ken Follet</p>
            <button class="btn btn-custom btn-sm mb-4">More Info</button>
        </div>
      </div>
      <!-- Book 6 -->
      <div class="col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://code-institute.s3-eu-west-1.amazonaws.com/BookIt/book-images/pillars-of-the-earth.jpg" alt="">
            <h5>Pillars of the Earth</h3>
              <p>Ken Follet</p>
              <button class="btn btn-custom btn-sm mb-4">More Info</button>
          </div>
        </div>    
    </div>
</div>
{% endblock %}