{% extends 'base.html' %} 
{% block title %} | {{ book.title }} {% endblock %}
{% block content %}
<div class="container">

  <br/>
  <!-- Messages -->
  {% include 'partials/_messages.html' %}

  <h4 class="mt-4 pt-4">{{ book.title }}</h4>
  <!-- Book -->
  <div class="row mt-4 mb-4">
    <div class="col-md-4 mt-4">
      <img class="book-cover-image" src="{{ book.photo_main.url }}" alt="{{ book.title }} cover">
      <!-- Thumbnails -->
      <div class="row mb-5 mx-auto thumbs">
        {% if book.photo_1 %}
        <div class="col-xs-2 col-sm-2 col-md-2 thumb-img">
          <a href="{{ book.photo_1.url }}" data-lightbox="book-images">
            <img src="{{ book.photo_1.url }}" alt="{{ book.title }} page 1" class="img-fluid">
          </a>
        </div>
        {% endif %} {% if book.photo_1 %}
        <div class="col-xs-2 col-sm-2 col-md-2 thumb-img">
          <a href="{{ book.photo_2.url }}" data-lightbox="book-images">
            <img src="{{ book.photo_2.url }}" alt="{{ book.title }} page 2" class="img-fluid">
          </a>
        </div>
        {% endif %} {% if book.photo_3 %}
        <div class="col-xs-2 col-sm-2 col-md-2 thumb-img">
          <a href="{{ book.photo_3.url }}" data-lightbox="book-images">
            <img src="{{ book.photo_3.url }}" alt="{{ book.title }} page 3" class="img-fluid">
          </a>
        </div>
        {% endif %} {% if book.photo_4 %}
        <div class="col-xs-2 col-sm-2 col-md-2 thumb-img">
          <a href="{{ book.photo_4.url }}" data-lightbox="book-images">
            <img src="{{ book.photo_4.url }}" alt="{{ book.title }} page 4" class="img-fluid">
          </a>
        </div>
        {% endif %} {% if book.photo_5 %}
        <div class="col-xs-2 col-sm-2 col-md-2 thumb-img">
          <a href="{{ book.photo_5.url }}" data-lightbox="book-images">
            <img src="{{ book.photo_5.url }}" alt="{{ book.title }} page 5" class="img-fluid">
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <!-- Modal Button -->
      <button class="btn-custom mb-4" data-toggle="modal" data-target="#contactModal">Contact Us</button>

      <p>{{ book.description }}</p>
      <p>
        <strong>Price: </strong> €{{ book.price }}</p>
      <p>
      {% if user.is_authenticated %}
        {% if book.stock <= 0 %}
          <p><b>Out of Stock</b></p>
        {% else %}
          <a href="{% url 'cart:add_cart' book.id %}"><button class="btn btn-custom mb-4"><i class="fas fa-shopping-cart"></i> Add to Cart</button></a><br>
        {% endif %}
      {% else %}
        <p><b>Register <a href="{% url 'register' %}">here</a> and buy this book!</b></p>
      {% endif %}
        <strong>Category: </strong> {{ book.category_name }}</p>
        <p><strong>IBSN: </strong>{{ book.isbn }}</p>
      <p>
        <strong>Author:</strong> {{ book.author }}</p>
      <img class="book-author-image" src="{{ book.author.photo.url }}" alt="{{ book.author }} image">
      <p>{{ book.author.description }}</p>
    </div>
  </div>
</div>
  <!-- Modal -->
  {% include 'partials/_modal_book.html' %}
{% endblock %}