{% extends 'base.html' %} 
{% block title %} | Our books {% endblock %}
{% block content %}
<div class="container mt-4">
  <h3 class="mt-4">All Books</h3>
  <!-- search feature -->
  <div class="card p-4 mt-4 mb-4 search-card">
    <h4 class="text-center">Search</h4>
    <form action="{% url 'search' %}" form-group>
      <div class="row">
        <div class="col-md-4">

          <label for="Search Title">by title</label>
          <input type="text" name="title" class="form-control" value="{{ values.title }}" placeholder="keyword for title">

        </div>
        <div class="col-md-4">
            <label>by author</label>
            <select name="author" class="form-control">
              <option name="author" selected="true" disabled="disabled">Author (All)</option>
              {% for book in books_all %}
                <option name=value="{{ book.author }}">{{ book.author }}</option>                
              {% endfor %}
            </select>
          </div>
        <div class="col-md-4">

          <label for="Search Price">by category</label>
          <input type="text" name="category_name" placeholder="category (All)" class="form-control" value="{{ values.category_name }}">

        </div>
          <button type="submit" class="btn-custom btn-block mt-4">Search</button>
      </div>
    </form>
  </div>
  <!-- Books -->
  <div class="container mt-4">
    <div class="row mt-4 mb-4">
      {% if books %} {% for book in books %}
      <div class="col-md-4 mt-4">
        <div class="card text-center">
          <a href="{% url 'book' book.id %}" ><img class="card-img-top" src="{{ book.photo_main.url }}" alt="{{ book.title }} cover"></a>
          <h5>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p>€{{ book.price }}</p>
            <a href="{% url 'book' book.id %}" class="btn btn-custom btn-sm mb-4">More Info</a>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>There are no books available!</p>
      {% endif %}
    </div>
  </div>
  <!-- pagination -->
  <div class="row mb-4">
      <div class="col-md-12">
        {% if books.has_other_pages %}
          <ul class="pagination">
            {% if books.has_previous %}
              <li class="page-item">
                <a href="?page={{ books.previous_page_number }}" class="page-link">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
              </li>
            {% endif %}
            {% for i in books.paginator.page_range %}
              {% if books.number == i %}
                <li class="page-item active">
                  <a class="page-link">{{i}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if books.has_next %}
            <li class="page-item">
              <a href="?page={{ books.next_page_number }}" class="page-link">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
            </li>
          {% endif %}        
          </ul>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}