{% extends 'base.html' %} 
{% block title %} | Search {% endblock %}
{% block content %}
<div class="container mt-4">
  <h3>Search Page</h3>
  <a href="{% url 'books' %}" class="mt-4 btn btn-custom btn-sm">reset to all books</a>
  <div class="card p-4 mt-4 mb-4 search-card">
    <h4 class="text-center">Search</h4>
    <form action="{% url 'search' %}" form-group>
      <div class="row">
        <div class="col-md-4">
          <label for="Search Title">by title</label>
          <input type="text" name="title" id="" class="form-control" value="{{ values.title }}" placeholder="keyword for title">
        </div>  
        <div class="col-md-4">
            <label>by author</label>
            <select name="author" class="form-control" value="{{ values.author }}">
              <option selected="true" disabled="disabled">Authors (All)</option>
              {% for book in books %}
                <option value="{{ book.author }}">{{ book.author }}</option>
                {% if book.author == values.author %}
                selected
              {% endif %}                
              {% endfor %}
            </select>
          </div>
        <div class="col-md-4">
          <label for="Search Price">by category</label>
          <input type="text" name="category_name" id="" class="form-control" placeholder="category" value="{{ values.category_name }}">
        </div>
          <button type="submit" class="btn-custom mt-4 btn-block">Search</button>
      </div>
    </form>
  </div>

  <!-- Books -->
  <div class="container mt-4">
    <div class="row mt-4 mb-4">
      {% if books %} {% for book in books %}
      <div class="col-md-4 mt-4">
        <div class="card text-center">
          <a href="{% url 'book' book.id %}" ><img class="card-img-top" src="{{ book.photo_main.url }}" alt="{{ book.title }} cover"></a>
          <h5>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p>€{{ book.price }}</p>
            <a href="{% url 'book' book.id %}" class="btn btn-custom btn-sm mb-4">More Info</a>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>There are no books available!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}